.member-warp {
    .clearfix {
        *zoom: 1;
        &:after {
            content: '';
            display: block;
            clear: both;
            height: 0;
        }
    }
    .ivu-tabs-nav-container {
        line-height: 2;
        .ivu-tabs-nav-scroll {
            background: #fff;
            padding: 0 20px;
        }
    }
    .edit-link-title {
        .ivu-btn {
            margin-left: 12px;
        }
    }
    .ivu-card {
        .ivu-card-body {
            padding: 20px;
            .btn-action {
                width: 80px;
                margin-right: 10px;
            }
            .ivu-table-wrapper {
                border: 0 none;
                border-top: 1px solid #e3e8ee;
                .ivu-table:after {
                    width: 0;
                }
                .ivu-btn-small {
                    width: 64px;
                    height: 24px;
                    line-height: 24px;
                    padding: 0;
                    border-radius: 4px;
                }
                .ivu-dropdown {
                    .ivu-btn-small {
                        width: 64px;
                        height: 24px;
                        line-height: 24px;
                        padding: 0;
                        border-radius: 4px;
                        i {
                            padding-left: 6px;
                        }
                    }
                }
            }
            .page {
                text-align: center;
                margin: 30px 0;
                .ivu-page-item-active {
                    background-color: #3399ff;
                    border-color: #3399ff;
                }
            }
            .tip {
                color: rgba(101, 113, 128, 0.5);
            }
        }
    }
}